@model Core.Models.Person

<span class="rank">Civilian</span>
<span class="name">@Model.Name</span>
<span class="unit">@Model.AddressAtEnlistmentString</span>
<span class="date">@Model.DateOfDeathString</span>
