@model Core.Models.Person

<span class="rank">@Model.Rank</span>
<span class="name">@Model.Name</span>
<span class="unit">@Model.UnitRegimentString</span>
<span class="date">@Model.DateOfDeathString</span>