@page
@using Shared.Components;
@using Core.Enums;
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using RollOfHonour.Core.Models
@using RollOfHonour.Web.Pages.Shared.ViewComponents

@model RollOfHonour.Web.Pages.Person.PeopleModel
@{
}

<section class="panel with-background bg-app">
    <div class="container is-fluid">

        <div class="columns is-multiline is-vcentered">
            <div class="column">
                <div class="text-block">
                    <h1>People records</h1>
                    <p>
                        Our database contains thousands of records detailing those who were lost during the World Wars.
                        You can use this page to view our records alphabetically, or use our
                        <a href="/search"
                           title="Search our records">
                            Search
                        </a> page to narrow down your search.
                    </p>
                </div>
            </div>
            @(await Html.RenderComponentAsync<IndexSearchComponent>(RenderMode.ServerPrerendered, new { SelectedQueryType = QueryType.Person }))
        </div>

        <div class="index-block">

            <div class="columns is-multiline is-mobile">
                @foreach (var person in Model.People!)
                {
                    <div class="column is-12-mobile is-6-tablet is-6-desktop is-4-widescreen is-3-fullhd">
                        <a asp-page="/Person/Details" asp-route-id="@person.Id" title="Learn about @person.Name"
                           class="index-card">
                            <div class="columns is-mobile">
                                <div class="column is-4-mobile">
                                    <div class="picture-block index-picture">
                                        <div class="picture-border">
                                            @if (person.MainPhoto is not null)
                                            {
                                                <div class="picture-embed"
                                                     style="background-image: url(@person.MainPhoto?.ImageUriMedium);">
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="picture-embed" style="background-image: url(./images/poppy.jpg);"></div>
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="war-label">
                                        @if (person.War == War.WW1)
                                        {
                                            <img class="ww-insignia" src="/images/insignia-ww1-index.png" alt="This data is related to World War 1">
                                        }
                                        else
                                        {
                                            <img class="ww-insignia" src="/images/insignia-ww2-index.png" alt="This data is related to World War 2">
                                        }
                                    </div>
                                    @if (person.PersonType == PersonType.Civilian)
                                    {
                                        @await Html.PartialAsync("_IndexCivilianCard", person)
                                    }
                                    else
                                    {
                                        @await Html.PartialAsync("_IndexMilitaryCard", person)
                                    }
                                    <span class="link"><i class="fal fa-glasses"></i> Read more</span>
                                </div>
                            </div>
                        </a>
                    </div>
                }
            </div>

            <vc:pagination-component current-page=@Model.PageNumber page-count=@Model.People.TotalPages
                                     slug="/person/index">
            </vc:pagination-component>

        </div>
    </div>
</section>