html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.bg-image {
    /* The image used */
    background-image: url("../images/homePage.jpg");

    /* Add the blur effect */
    -webkit-filter: blur(1.5px);
    filter: blur(1.5px);

    /* Full height */
    position:fixed;
    
    /* Full size */
    /*padding:0;*/
    /*margin:0;*/

    top:0;
    left:0;

    width: 100%;
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.homeContent {
    /*background-color: rgb(0,0,0); !* Fallback color *!*/
    /*background-color: rgba(0,0,0, 0.4); !* Black w/opacity/see-through *!*/
    /*color: white;*/
    /*font-weight: bold;*/
    /*border: 3px solid #f1f1f1;*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
}