@page
@model RollOfHonour.Web.Pages.AboutModel

<section class="panel with-background bg-app">
    <div class="container is-fluid">
        <div class="columns is-vcentered is-centered is-multiline">
            <div class="column is-full-tablet is-7-desktop is-8-fullhd">
                <div class="text-block" data-aos="fade-up">
                    <h1>About the Nottinghamshire Roll of Honour</h1>
                    <p>The Nottinghamshire Roll of Honour is a permanent tribute to local men and women who
                        died during the first and second World War. Until now, no list of Nottinghamshire’s War
                        dead has been compiled and many communities did not keep written records of 1914-18 losses. This
                        project pays homage to the county’s fallen and creates a unique, centralised archive for
                        researchers, historians and the general public.</p>
                    <p>The project has involved collaboration between eight groups of volunteer information gatherers,
                        led by Dr David Nunn,
                        and Nottinghamshire County Council which has funded the initiative and provided technical
                        expertise. </p>
                    <p>The Roll of Honour was designed to unfold in two phases. The first phase, which went live in
                        August 2013, collected
                        names across Nottinghamshire from more than six hundred memorials constructed during the
                        conflict’s immediate
                        aftermath in village and town centres, chapels, churches, churchyards, parish halls, factories
                        and other work
                        places, schools and sports clubs. </p>
                    <p>The next stage of the project has seen individual stories expanded and brought to life through
                        the addition of
                        biographical detail, narrative, photographs and newspaper extracts as well as entries from
                        diaries and letters.
                        Names unrecorded or missing from physical monuments are being added to a Virtual Memorial. Many
                        members of the
                        public have already contributed and you can add photos or data to the site using a simple Log-In
                        process top right
                        of the screen. </p>
                    <p>The Roll of Honour project is linked to Trent to Trenches – a series of events being organised
                        across the county in
                        2014 to commemorate Nottinghamshire’s contribution to the Great War.</p>

                    <p>Volunteers by District</p>
                    <ul>
                        <li><strong>Nottingham </strong>- Peter Foster, Steve Zaleski, Lynn Whiteley and Brendan
                            Beecroft</li>
                        <li><strong>Ashfield </strong>- David Nunn, Carol Taylor-Cockayne and Richard Clay</li>
                        <li><strong>Bassetlaw </strong>- Richard English, Colin Dannatt, Tony and Judith Goodall, Roger
                            Caple and Bob Ilett
                        </li>
                        <li><strong>Broxtowe </strong>- David Nunn, Hilary Hillier, Brian Taylor, Malcolm Jarvis and
                            Richard Dodge</li>
                        <li><strong>Gedling </strong>- Tracy Dodds, Yvonne Davies, Peter Gillings, Barbara Worrall, Jean
                            Parrott, Cliff
                            Housley and Anthony Ball </li>
                        <li><strong>Mansfield </strong>- Carol Malone</li>
                        <li><strong>Newark & Sherwood </strong>- Gary Tranter and Andy McKinnon</li>
                        <li><strong>Rushcliffe </strong>- Murray Biddle and John Whalley</li>
                        <li><strong>Across Nottinghamshire </strong>- Rachel Farrand, Richard Clay and Steve Morse</li>
                    </ul>
                    <p>The website may contain errors of transcription or fact and we would welcome any corrections via
                        the buttons in the
                        top right of each page or by email <a
                            href="mailto:rollofhonour@nottscc.gov.uk">rollofhonour@nottscc.gov.uk</a> </p>
                </div>
            </div>
        </div>
</section>