@page
@model RollOfHonour.Web.Pages.AboutModel

<section class="panel with-background bg-app">
    <div class="container is-fluid">
        <div class="columns is-vcentered is-centered is-multiline">
            <div class="column is-full-tablet is-7-desktop is-8-fullhd">
                <div class="text-block" data-aos="fade-up">
                    <h1>About the Nottinghamshire Roll of Honour</h1>
                    <p>TThe Nottinghamshire Roll of Honour is a permanent tribute to local men and women who died during the First and Second World Wars. Until now, no list of Nottinghamshire’s Great War dead has been compiled and many communities did not keep written records of 1914-18 losses. This project pays homage to the county’s fallen and creates a unique, centralised archive for researchers, historians and the general public.</p>
                    <p>Eight groups of volunteer information gatherers have collaborated with The National Lottery Heritage Fund, Nottinghamshire County, and Nottingham City Councils which has funded the initiative and provided technical expertise.</p>
                    <p>Names have been collected across Nottinghamshire from 677 memorials in village and town centres, chapels, churches, churchyards, parish halls, factories and other work places, schools and sports clubs. Individual stories have been brought to life through the addition of biographical detail, narrative, photographs and newspaper extracts as well as entries from diaries and letters.</p>
                    <p>Fatalities unrecorded or missing from physical monuments have been added to a series of Virtual Memorials.</p>
                    @* <p>Many members of the public have already contributed and you can add photos or data to the site using a simple Log-In process at the bottom of the screen.</p> *@


                    <p>The website may contain errors of transcription or fact and we would welcome any corrections via the buttons in the top right of each page or by email
                        <a
                            href="mailto:rollofhonour@nottscc.gov.uk">
                            rollofhonour@nottscc.gov.uk
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>