@page
@using Shared.ViewComponents;
@using Shared.Components;
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<section class="panel with-background bg-app">
    <div class="container is-fluid">
        <div class="columns is-vcentered is-multiline">
            <div class="column is-full-tablet is-7-desktop is-8-fullhd">
                <div class="text-block" data-aos="fade-up">
                    <h1><span class="subtitle">Nottinghamshire </span>Roll of Honour</h1>
                    <p>The Nottinghamshire Great War Roll of Honour is a permanent tribute to local men and women who
                        died during the First and second World War. Until now, no list of Nottinghamshire’s Great War
                        dead has been compiled and many communities did not keep written records of 1914-18 losses. This
                        project pays homage to the county’s fallen and creates a unique, centralised archive for
                        researchers, historians and the general public.</p>
                </div>
               <component type="typeof(BasicSearchComponent)" render-mode="Server"/>
            </div>
            <div class="column  is-full-tablet is-5-desktop is-4-fullhd">
                <aside class="sidebar">
                    <div class="text-block">
                        <h3 class="aligncenter">Today we remember...</h3>
                    </div>
                    @await Component.InvokeAsync(nameof(MemoryDetailsList))
                    <a href="/search.html" title="Look at all our records" class="button primary"><i
                            class="fal fa-folder-open"></i> Look at all our records</a>
                </aside>
            </div>
        </div>
    </div>
</section>
<vc:our-records-counter></vc:our-records-counter>