@page
@using Shared.ViewComponents;
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<section class="panel with-background bg-app">
    <div class="container is-fluid">
        <div class="columns is-vcentered is-multiline">
            <div class="column is-full-tablet is-7-desktop is-8-fullhd">
                <div class="text-block" data-aos="fade-up">
                    <h1><span class="subtitle">Nottinghamshire </span>Roll of Honour</h1>
                    <p>The Nottinghamshire Great War Roll of Honour is a permanent tribute to local men and women who
                        died during the First and second World War. Until now, no list of Nottinghamshire’s Great War
                        dead has been compiled and many communities did not keep written records of 1914-18 losses. This
                        project pays homage to the county’s fallen and creates a unique, centralised archive for
                        researchers, historians and the general public.</p>
                </div>

                <div class="form-block with-margin-bottom with-margin-top" data-aos="fade-up">
                    <form action="#search-controller" method="post" id="search-all">
                        <div class="form-row">
                            <label for="searchquery" id="Query-ariaLabel">Begin your search by entering a name
                                below:</label>
                            <input id="searchquery" name="Query" class="input-text" type="text"
                                aria-labelledby="Query-ariaLabel" title="Enter your search query here..."
                                placeholder="e.g. Ken Ashford" />
                        </div>
                        <div class="form-row">
                            <button type="submit" class="submit-button" form="search-all"><i
                                    class="fal fa-file-search"></i> Search our records</button>
                        </div>
                    </form>

                </div>
            </div>
            <div class="column  is-full-tablet is-5-desktop is-4-fullhd">
                <aside class="sidebar">
                    <div class="text-block">
                        <h3 class="aligncenter">Today we remember...</h3>
                    </div>
                    @await Component.InvokeAsync(nameof(MemoryDetailsList))
                    <a href="/search.html" title="Look at all our records" class="button primary"><i
                            class="fal fa-folder-open"></i> Look at all our records</a>
                </aside>
            </div>
        </div>
    </div>
</section>
@await Component.InvokeAsync(nameof(OurRecordsCounter));