@using System.Security.Principal

@if (User.Identity?.IsAuthenticated == true)
{
    <span>Hello @User.Identity?.Name!</span>
    <li>
        <a asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignOut">Sign out</a>
    </li>
}
else
{
    <li class="nav-item">
        <a asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignIn">Sign in</a>
    </li>
}