@inject NavigationManager navManager;

<div class="form-block with-margin-bottom with-margin-top">
    <form id="search-all" action="javascript:void(0);" >
        <div class="form-row">
            <label for="searchquery" id="Query-ariaLabel">Begin your search by entering a name
                below:</label>
            <input @bind="@SearchTerm" id="searchquery" name="Query" class="input-text" type="text" aria-labelledby="Query-ariaLabel"
                title="Enter your search query here..." placeholder="e.g. Ken Ashford" />
        </div>
        <div class="form-row">
            <button type="submit" @onclick="SearchRollOfHonour" class="submit-button"><i class="fal fa-file-search"></i> Search our
                records</button>
        </div>
    </form>
</div>

@code {
    private string SearchTerm = "";
    private void SearchRollOfHonour()
    {
        if (String.IsNullOrEmpty(SearchTerm)) return;
        navManager.NavigateTo($"/Results?s={SearchTerm}&=0&qt=0", true);
    }
}