@inject NavigationManager navManager;

<div class="form-block with-margin-bottom with-margin-top" data-aos="fade-up">
    <form action="#search-controller" method="post" id="search-all">
        <div class="form-row">
            <label for="searchquery" id="Query-ariaLabel">Begin your search by entering a name
                below:</label>
            <input @bind="@SearchTerm" id="searchquery" name="Query" class="input-text" type="text" aria-labelledby="Query-ariaLabel"
                title="Enter your search query here..." placeholder="e.g. Ken Ashford" />
        </div>
        <div class="form-row">
            
            <button type="button" @onclick="SearchRollOfHonour" class="submit-button" form="search-all"><i class="fal fa-file-search"></i> Search our
                records</button>
        </div>
    </form>
</div>

@code {
    private string SearchTerm = "";
    private async Task SearchRollOfHonour()
    {
        navManager.NavigateTo($"/Results?s={SearchTerm}&w=0&pt=0&qt=0&i=1", true);
    }
}