@using System.Collections;

<div class="search-results-block" id="jumpto-results">
    <ul>
        <li>
            @foreach (var memorial in Memorials)
            {
                var memorialDetailsSlug = $"/Memorial/Details?id={memorial.Id}";
                <div class="search-result-block">
                    <div class="war-label">
                        <img class="ww-insignia" src="/images/insignia-ww1.png" alt="This data is related to World War 1"/>
                    </div>
                    <div class="columns is-mobile">
                        <div class="column is-4-mobile is-3-tablet is-3-desktop is-3-widescreen is-2-fullhd">
                            <div class="picture-block search-picture">
                                <div class="picture-border">
                                    @if (memorial.MainPhoto is not null)
                                    {
                                        <div class="picture-embed" style="background-image: url(@memorial.MainPhoto?.ImageUriMedium);"></div>
                                    }
                                    else
                                    {
                                        <div class="picture-embed" style="background-image: url(./images/poppy-grey.jpg);"></div>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <h1 class="name">@memorial.Name</h1>
                            <div class="service-number">
                                <span class="label"><i class="fa-light fa-hashtag fa-fw"></i> District </span>
                                <span class="data">@memorial.District</span>
                            </div>

                            <a href="@memorialDetailsSlug" title="Look at this record" class="search-link">
                                <i
                                    class="fal fa-glasses">
                                </i> Read more
                            </a>
                        </div>
                    </div>
                </div>
            }
        </li>
    </ul>
</div>

@code {

    [Parameter]
    public List<Core.Models.Memorial> Memorials { get; set; } = new();

}