@page "/Search"

<section class="panel with-background bg-app">
    <div class="container is-fluid">
        <div class="breadcrumb-block with-margin-bottom">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li>
                        <a asp-page="/index" class="parent">Home
                            <span class="spacer" aria-hidden="true">
                                <i class="fa-light fa-chevron-right"></i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a asp-page="/search/index" class="parent"> Search
                            <span class="spacer" aria-hidden="true">
                                <i class="fa-light fa-chevron-right"></i>
                            </span>
                        </a>
                    </li>
                </ol>
            </nav>
        </div>
        <div class="columns is-multiline is-vcentered">
            <component type="typeof(SearchComponent)" render-mode="Server" />
        </div>
    </div>
</section>